.index {
  height: 100%;
  width: 100%;
  // min-height: 100vh;
  // min-height: -webkit-fill-available;
  background-color: #404a59;

  .header {
    // height: ;
    height: 48px;
    width: 100%;
    background-color: darken($color: #404a59, $amount: 10);
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    color: #fff;

    .title {
      font-size: 20px;
      font-weight: bold;
    }

    .status {
      display: flex;
      justify-content: center;
      width: 100%;

      > div {
        min-width: 200px;
        text-align: center;
      }
    }
  }

  .map {
    height: calc(45% - 48px - 48px) !important;
    // height: 200px;
    width: 100vw;
  }

  .footer {
    height: 48px;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

    .developer {
      display: flex;
      color: #fff;
      font-size: 12px;
      padding-left: 10px;

      a {
        padding: 0 5px;
      }
    }

    .source {
      color: #fff;
      font-size: 12px;
    }
  }
}